.ceo-section{
    .background{
        margin-top: 100px;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90cqb;
            gap: 20px;
            margin-bottom: 100px;
            @include desktop{
                flex-direction: row;
                width: 100%;
                gap: 50px;
                align-items: start;
                padding-left: 10px;
                padding-right: 130px;
            }
            .image-area{
                p{
                    margin-top: 8px;
                    font-style: italic;
                }
            }
            .text-area{
                h4{
                    font-weight: 300;
                    font-style: italic;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }

            }
        }
    }
}