.about-us-section{
    margin-top: 50px;
    margin-bottom: 50px;
    @include tablet{
        margin-top: 100px;
        margin-bottom: 130px;
    }
    .background{
        .container{
            .section-format{
                .texts-area{
                    h6{
                        text-align: center;
                        @include tablet{
                            text-align: left;
                        }
                    }
                    h2{
                        margin-bottom: 40px;
                    }
                    p{
                        font-size: 14px;
                        &.quote{
                            font-size: 20px;
                            font-style: italic;
                        }
                    }
                    @include desktop{
                        p{
                            width: 52%;
                        }
                    }
                }
            }
        }
    }
}
