<?xml version="1.0" encoding="utf-8"?>
<Media Key="94260430-4b39-481f-a678-56ba8788c67d" Alias="about us section" Level="2">
  <Info>
    <Parent Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29">Home sections</Parent>
    <Path>/HomeSections/aboutUsSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-09T01:19:10</CreateDate>
    <NodeName Default="about us section" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>