<?xml version="1.0" encoding="utf-8"?>
<Media Key="0850b47f-8972-4e23-a8ac-b80513bde8ce" Alias="About Us Page Sections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsPageSections</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T11:46:21</CreateDate>
    <NodeName Default="About Us Page Sections" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>