<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9a4329a-286b-4e63-95aa-8f6a1c9fa86a" Alias="aj-carter.png" Level="3">
  <Info>
    <Parent Key="7784ba47-d886-4c27-aa53-4481452ab5df">Our Expert Section</Parent>
    <Path>/AboutUsPageSections/OurExpertSection/ajCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:48:15</CreateDate>
    <NodeName Default="aj-carter.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cx2oehyc/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>