<?xml version="1.0" encoding="utf-8"?>
<Media Key="90056c8e-c99a-4d5b-92f4-39c0d89045d1" Alias="assurance-and-audits.png" Level="2">
  <Info>
    <Parent Key="30bfdd32-c74d-4b61-9720-6cef1fc793ca">Services Page</Parent>
    <Path>/ServicesPage/assuranceAndAuditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T14:29:10</CreateDate>
    <NodeName Default="assurance-and-audits.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/agtegjxt/assurance-and-audits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>