<?xml version="1.0" encoding="utf-8"?>
<Media Key="abcabfeb-502e-46d9-9497-9d418c8f8e35" Alias="backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-08T21:16:58</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>