<?xml version="1.0" encoding="utf-8"?>
<Media Key="94e19007-9731-43b9-bda2-daaa659be2b3" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="57d94eca-2977-4864-b4ef-0280d96617c0">Let Us Know Section</Parent>
    <Path>/LetUsKnowSection/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-10T21:38:22</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4uwfg3rk/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>