<?xml version="1.0" encoding="utf-8"?>
<Media Key="72efbbcf-8ec1-485c-9597-82bd07fe4ddf" Alias="bonds-and-commodities.png" Level="3">
  <Info>
    <Parent Key="7c628c94-f61c-4df7-9f25-cbdd7cce2f09">our services section</Parent>
    <Path>/HomeSections/ourServicesSection/bondsAndCommoditiespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-09T01:55:50</CreateDate>
    <NodeName Default="bonds-and-commodities.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ibyltrfi/bonds-and-commodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>