<?xml version="1.0" encoding="utf-8"?>
<Media Key="be1a788b-e042-441c-9973-1208dded9e23" Alias="brandon-kerr.png" Level="3">
  <Info>
    <Parent Key="7784ba47-d886-4c27-aa53-4481452ab5df">Our Expert Section</Parent>
    <Path>/AboutUsPageSections/OurExpertSection/brandonKerrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:48:28</CreateDate>
    <NodeName Default="brandon-kerr.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aszfycbl/brandon-kerr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>