<?xml version="1.0" encoding="utf-8"?>
<Media Key="a370e41a-e990-4bd7-9c68-d7c40d64eb2d" Alias="brandon-newton.png" Level="3">
  <Info>
    <Parent Key="7784ba47-d886-4c27-aa53-4481452ab5df">Our Expert Section</Parent>
    <Path>/AboutUsPageSections/OurExpertSection/brandonNewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:48:18</CreateDate>
    <NodeName Default="brandon-newton.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/suxdmfpz/brandon-newton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>