<?xml version="1.0" encoding="utf-8"?>
<Media Key="570de6b6-fa3d-4079-a556-b073612d7e53" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="350737b0-6469-4a05-9cb7-88a1f0333ade">Header</Parent>
    <Path>/Header/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-10T19:05:17</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/irnl5njg/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>