<?xml version="1.0" encoding="utf-8"?>
<Media Key="47e58449-b566-47a7-a783-0993a9078edf" Alias="breadcrumb-bg.svg" Level="2">
  <Info>
    <Parent Key="abcabfeb-502e-46d9-9497-9d418c8f8e35">backgrounds</Parent>
    <Path>/backgrounds/breadcrumbBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-10T19:47:15</CreateDate>
    <NodeName Default="breadcrumb-bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xm2fpjl3/breadcrumb-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>