<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d4bafe7-656f-41d6-bb15-f7a2cf3e23e3" Alias="CEO Section" Level="2">
  <Info>
    <Parent Key="0850b47f-8972-4e23-a8ac-b80513bde8ce">About Us Page Sections</Parent>
    <Path>/AboutUsPageSections/CEOSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T11:46:37</CreateDate>
    <NodeName Default="CEO Section" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>