<?xml version="1.0" encoding="utf-8"?>
<Media Key="73375f94-bb27-441d-971d-b4d2f7e47596" Alias="dark-dot-background.svg" Level="3">
  <Info>
    <Parent Key="29437aee-0e48-4df8-832d-ce3b376debcd">success stories section</Parent>
    <Path>/HomeSections/successStoriesSection/darkDotBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-21T23:56:35</CreateDate>
    <NodeName Default="dark-dot-background.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m1rjlej2/dark-dot-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>