<?xml version="1.0" encoding="utf-8"?>
<Media Key="710c38ec-2a95-46dd-8bfd-fbdfbe7a3396" Alias="dot-background.svg" Level="3">
  <Info>
    <Parent Key="fabe47e2-894e-4a97-9f1b-2e431752c036">read our story section</Parent>
    <Path>/HomeSections/readOurStorySection/dotBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-21T23:09:01</CreateDate>
    <NodeName Default="dot-background.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0cl3e2o/dot-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>