<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2ffc879-4373-4a59-af8f-927be8a0cdbe" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="57d94eca-2977-4864-b4ef-0280d96617c0">Let Us Know Section</Parent>
    <Path>/LetUsKnowSection/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-10T21:38:23</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rn0f0mdi/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>