<?xml version="1.0" encoding="utf-8"?>
<Media Key="6883e284-83db-4de2-9cc6-cadb23a562ec" Alias="financial-advisor.png" Level="2">
  <Info>
    <Parent Key="30bfdd32-c74d-4b61-9720-6cef1fc793ca">Services Page</Parent>
    <Path>/ServicesPage/financialAdvisorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T14:28:41</CreateDate>
    <NodeName Default="financial-advisor.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bmumlxvs/financial-advisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>