<?xml version="1.0" encoding="utf-8"?>
<Media Key="38a9ef8e-b2f3-495c-afed-6c469a838c2f" Alias="financial-advisor.png" Level="3">
  <Info>
    <Parent Key="7c628c94-f61c-4df7-9f25-cbdd7cce2f09">our services section</Parent>
    <Path>/HomeSections/ourServicesSection/financialAdvisorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-09T01:55:52</CreateDate>
    <NodeName Default="financial-advisor.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aesp5du0/financial-advisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>