<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bad4727-2f82-4785-b8e0-313dca9f9fc3" Alias="fossilgroup-logo.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/fossilgroupLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:03:25</CreateDate>
    <NodeName Default="fossilgroup-logo.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0x3a50mz/fossilgroup-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>