<?xml version="1.0" encoding="utf-8"?>
<Media Key="2572bc04-a058-4571-9d09-da39f5d6a1e7" Alias="globe-logo.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/globeLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:03:26</CreateDate>
    <NodeName Default="globe-logo.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4yanbr0d/globe-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>