<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c53d52f-be74-4250-8266-494b483e12c7" Alias="Great Reviews Section" Level="2">
  <Info>
    <Parent Key="0850b47f-8972-4e23-a8ac-b80513bde8ce">About Us Page Sections</Parent>
    <Path>/AboutUsPageSections/GreatReviewsSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T11:47:39</CreateDate>
    <NodeName Default="Great Reviews Section" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>