<?xml version="1.0" encoding="utf-8"?>
<Media Key="2376bbb0-9604-4c7b-8267-2f7c0665beae" Alias="hero.svg" Level="3">
  <Info>
    <Parent Key="6c176cea-17e8-4ed0-bd95-1c2643a99e3d">hero section</Parent>
    <Path>/HomeSections/heroSection/herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-09T01:17:14</CreateDate>
    <NodeName Default="hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iidnjqi5/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>