<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29" Alias="Home sections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeSections</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-09T01:19:34</CreateDate>
    <NodeName Default="Home sections" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>