<?xml version="1.0" encoding="utf-8"?>
<Media Key="de40bae9-fccf-457f-a5f0-9ae1442d858e" Alias="identity-logo.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/identityLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:03:27</CreateDate>
    <NodeName Default="identity-logo.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dmdpepgu/identity-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>