<?xml version="1.0" encoding="utf-8"?>
<Media Key="85aeff5c-1e87-4419-b435-79e58c6f6e78" Alias="Img-1-41.png" Level="2">
  <Info>
    <Parent Key="4f89d1df-91a5-40cc-abd8-da0dc70f0ca3">Project Details Page</Parent>
    <Path>/ProjectDetailsPage/Img141png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T16:37:01</CreateDate>
    <NodeName Default="Img-1-41.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0m0pqm5o/img-1-41.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>