<?xml version="1.0" encoding="utf-8"?>
<Media Key="de83aa76-4a26-4cfa-9b93-3869b2f4380d" Alias="Img-471.png" Level="2">
  <Info>
    <Parent Key="4f89d1df-91a5-40cc-abd8-da0dc70f0ca3">Project Details Page</Parent>
    <Path>/ProjectDetailsPage/Img471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T16:36:55</CreateDate>
    <NodeName Default="Img-471.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5fqmk0cp/img-471.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>