<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca329c89-f061-403d-8cc7-7e50612ef96d" Alias="kevin-gardner-large.png" Level="3">
  <Info>
    <Parent Key="4c53d52f-be74-4250-8266-494b483e12c7">Great Reviews Section</Parent>
    <Path>/AboutUsPageSections/GreatReviewsSection/kevinGardnerLargepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:47:48</CreateDate>
    <NodeName Default="kevin-gardner-large.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/azlhi5ai/kevin-gardner-large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>