<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6f86e02-4504-4fee-a006-6700c65d198e" Alias="let-us-know-image.png" Level="2">
  <Info>
    <Parent Key="57d94eca-2977-4864-b4ef-0280d96617c0">Let Us Know Section</Parent>
    <Path>/LetUsKnowSection/letUsKnowImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:49:03</CreateDate>
    <NodeName Default="let-us-know-image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rwsl2udn/let-us-know-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>