<?xml version="1.0" encoding="utf-8"?>
<Media Key="de9afea6-731e-40a6-b96a-615e062c0abb" Alias="miranda-dayton.png" Level="3">
  <Info>
    <Parent Key="7784ba47-d886-4c27-aa53-4481452ab5df">Our Expert Section</Parent>
    <Path>/AboutUsPageSections/OurExpertSection/mirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:48:33</CreateDate>
    <NodeName Default="miranda-dayton.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fe0ny0dx/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>