<?xml version="1.0" encoding="utf-8"?>
<Media Key="50f4fe51-df2f-4b32-b4ef-9b40d352b2ee" Alias="OnlineSignatures.net-302 1.svg" Level="3">
  <Info>
    <Parent Key="94260430-4b39-481f-a678-56ba8788c67d">about us section</Parent>
    <Path>/HomeSections/aboutUsSection/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-09T01:20:02</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/unbfnmru/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>