<?xml version="1.0" encoding="utf-8"?>
<Media Key="7784ba47-d886-4c27-aa53-4481452ab5df" Alias="Our Expert Section" Level="2">
  <Info>
    <Parent Key="0850b47f-8972-4e23-a8ac-b80513bde8ce">About Us Page Sections</Parent>
    <Path>/AboutUsPageSections/OurExpertSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T11:48:05</CreateDate>
    <NodeName Default="Our Expert Section" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>