<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c628c94-f61c-4df7-9f25-cbdd7cce2f09" Alias="our services section" Level="2">
  <Info>
    <Parent Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29">Home sections</Parent>
    <Path>/HomeSections/ourServicesSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-09T01:55:31</CreateDate>
    <NodeName Default="our services section" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>