<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c2d760c-e40a-41a3-9173-b9e5390f9922" Alias="our projects section" Level="2">
  <Info>
    <Parent Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29">Home sections</Parent>
    <Path>/HomeSections/ourProjectsSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-22T00:02:37</CreateDate>
    <NodeName Default="our projects section" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>