<?xml version="1.0" encoding="utf-8"?>
<Media Key="57e12de4-7202-4274-9eb2-90955be46e9e" Alias="pj1.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:02:59</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c0iehniz/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>