<?xml version="1.0" encoding="utf-8"?>
<Media Key="75874c41-885a-4998-acc7-a7e821cbcf3a" Alias="pj2.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:03:00</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpydlf0b/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>