<?xml version="1.0" encoding="utf-8"?>
<Media Key="138e576e-0910-43a7-abae-0f28505ebcc5" Alias="pj2wide.png" Level="2">
  <Info>
    <Parent Key="fa5ca6b5-0260-45c9-aed9-bdd5f55577db">Projects Page</Parent>
    <Path>/ProjectsPage/pj2widepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T15:42:26</CreateDate>
    <NodeName Default="pj2wide.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2gonrjlz/pj2wide.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>