<?xml version="1.0" encoding="utf-8"?>
<Media Key="c41f0d84-b9bd-46c6-829d-c75795e12b47" Alias="pj3.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:03:01</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o0yl0jvg/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>