<?xml version="1.0" encoding="utf-8"?>
<Media Key="d73b4526-936f-40be-a0df-69e1e7f605d7" Alias="pj3wide.png" Level="2">
  <Info>
    <Parent Key="fa5ca6b5-0260-45c9-aed9-bdd5f55577db">Projects Page</Parent>
    <Path>/ProjectsPage/pj3widepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T15:42:27</CreateDate>
    <NodeName Default="pj3wide.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vghh0yig/pj3wide.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>