<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c7ca8e6-b098-4944-8352-ee92c98b7fa6" Alias="pj4.svg" Level="3">
  <Info>
    <Parent Key="2c2d760c-e40a-41a3-9173-b9e5390f9922">our projects section</Parent>
    <Path>/HomeSections/ourProjectsSection/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T00:02:58</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cqkn3dud/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>