<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c6118f3-b24c-40cf-a774-85c2ad33c1e4" Alias="pj4full.png" Level="2">
  <Info>
    <Parent Key="4f89d1df-91a5-40cc-abd8-da0dc70f0ca3">Project Details Page</Parent>
    <Path>/ProjectDetailsPage/pj4fullpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T16:36:49</CreateDate>
    <NodeName Default="pj4full.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ptjcporf/pj4full.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>