<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e34b24-b669-4fbd-81f2-950016e61192" Alias="pj4wide.png" Level="2">
  <Info>
    <Parent Key="fa5ca6b5-0260-45c9-aed9-bdd5f55577db">Projects Page</Parent>
    <Path>/ProjectsPage/pj4widepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T15:42:28</CreateDate>
    <NodeName Default="pj4wide.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/voalliya/pj4wide.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>