<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfc40623-0339-4304-b160-4cc5923b5bc8" Alias="post21.png" Level="2">
  <Info>
    <Parent Key="a0abec8a-4a57-4b6d-b655-c9a4c9d2251c">Risk Management Page</Parent>
    <Path>/RiskManagementPage/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T15:13:05</CreateDate>
    <NodeName Default="post21.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vtgie4kq/post21.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>