<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f89d1df-91a5-40cc-abd8-da0dc70f0ca3" Alias="Project Details Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectDetailsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T16:36:30</CreateDate>
    <NodeName Default="Project Details Page" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>