<?xml version="1.0" encoding="utf-8"?>
<Media Key="fabe47e2-894e-4a97-9f1b-2e431752c036" Alias="read our story section" Level="2">
  <Info>
    <Parent Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29">Home sections</Parent>
    <Path>/HomeSections/readOurStorySection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-21T23:06:41</CreateDate>
    <NodeName Default="read our story section" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>