<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0abec8a-4a57-4b6d-b655-c9a4c9d2251c" Alias="Risk Management Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-10T15:12:43</CreateDate>
    <NodeName Default="Risk Management Page" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>