<?xml version="1.0" encoding="utf-8"?>
<Media Key="e85fb819-08ae-4be1-9ca1-1b49d07b0216" Alias="risk-management.png" Level="2">
  <Info>
    <Parent Key="30bfdd32-c74d-4b61-9720-6cef1fc793ca">Services Page</Parent>
    <Path>/ServicesPage/riskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T14:28:48</CreateDate>
    <NodeName Default="risk-management.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/szzbsxwh/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>