<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb4f40fe-5eab-44fe-9566-5540ebf759e5" Alias="staff-image.png" Level="3">
  <Info>
    <Parent Key="fabe47e2-894e-4a97-9f1b-2e431752c036">read our story section</Parent>
    <Path>/HomeSections/readOurStorySection/staffImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T23:07:05</CreateDate>
    <NodeName Default="staff-image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ogfastoc/staff-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>