<?xml version="1.0" encoding="utf-8"?>
<Media Key="79ac5f10-02e3-42e0-80a1-7add0c7ced4e" Alias="statistic-advisors.png" Level="2">
  <Info>
    <Parent Key="30bfdd32-c74d-4b61-9720-6cef1fc793ca">Services Page</Parent>
    <Path>/ServicesPage/statisticAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T14:28:50</CreateDate>
    <NodeName Default="statistic-advisors.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t4kpvt2k/statistic-advisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>