<?xml version="1.0" encoding="utf-8"?>
<Media Key="29437aee-0e48-4df8-832d-ce3b376debcd" Alias="success stories section" Level="2">
  <Info>
    <Parent Key="9dcf6eec-ff0c-41f9-919e-21d068db3f29">Home sections</Parent>
    <Path>/HomeSections/successStoriesSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-21T23:53:27</CreateDate>
    <NodeName Default="success stories section" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>