<?xml version="1.0" encoding="utf-8"?>
<Media Key="722559ee-7c85-4756-85cb-92f0c94c3da5" Alias="tina-fox-image-small.png" Level="3">
  <Info>
    <Parent Key="7784ba47-d886-4c27-aa53-4481452ab5df">Our Expert Section</Parent>
    <Path>/AboutUsPageSections/OurExpertSection/tinaFoxImageSmallpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:48:25</CreateDate>
    <NodeName Default="tina-fox-image-small.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mgjhhrhm/tina-fox-image-small.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>