<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a54e3f3-3f37-4bf8-87f4-e3bceb34af26" Alias="tina-fox-image.png" Level="3">
  <Info>
    <Parent Key="6d4bafe7-656f-41d6-bb15-f7a2cf3e23e3">CEO Section</Parent>
    <Path>/AboutUsPageSections/CEOSection/tinaFoxImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T11:47:17</CreateDate>
    <NodeName Default="tina-fox-image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pqubfdc4/tina-fox-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>