<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2a0190a-2576-4c6e-a2e3-61e674fce470" Alias="Video 1.svg" Level="3">
  <Info>
    <Parent Key="29437aee-0e48-4df8-832d-ce3b376debcd">success stories section</Parent>
    <Path>/HomeSections/successStoriesSection/Video1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-21T23:56:49</CreateDate>
    <NodeName Default="Video 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5csaeidn/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>