@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels
<div class="email-box">
    <div class="content">
        <h4>How can we help you?</h4>
        <p>online support 24/7, we are here to help you</p>
        <input class="input-format" type="text" placeholder="E-mail address">
        <i class="fa-regular fa-envelope"></i>
    </div>
</div>