        <footer>
            <div class="footer">
                <div class="background">
                    <div class="container">
                        <p>© Onatrix. All Rights Reserved. Credits to <span>Themesflat</span></p>
                    </div>
                </div>
            </div>
        </footer>