@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var projectDetailsPage = UmbracoHelper.Content("6e9c745d-6a15-4c8e-a02c-0586014c6d98");

    var currentPageTags = projectDetailsPage?.Value<IEnumerable<string>>("tags");
    var specificTags = currentPageTags != null ? currentPageTags.ToList() : new List<string>();
    
    var allTags = UmbracoHelper.ContentAtRoot()
                    .SelectMany(rootContent => rootContent.DescendantsOrSelf())
                    .Where(x => x.HasValue("tags"))
                    .SelectMany(x => x.Value<IEnumerable<string>>("tags"))
                    .Distinct()
                    .ToList();
}

@if (ViewData["ShowAllTags"] as bool? == true)
{
    <div class="tags">
        @foreach (var tag in allTags)
        {
            <a class="tag" href="/tags/@tag">@tag</a>
        }
    </div>
}
else
{
    <div class="tags">
        @foreach (var tag in specificTags)
        {
            <a class="tag" href="/tags/@tag">@tag</a>
        }
    </div>
}
