<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acbfa6ea-5b4d-4ccd-85e8-74bf2c1c9ea8" Alias="Contact Us - contactFormDropDownValuess - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Contact Us - contactFormDropDownValuess - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial consulting",
    "Assurance \u0026 Audits",
    "Statistic advisors"
  ],
  "multiple": false
}]]></Config>
</DataType>