<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1771fe1d-2f9f-4e3d-b92e-0f13964584e4" Alias="Home Page - Read Our Story Section Image Alt Text - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Read Our Story Section Image Alt Text - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>