<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8677b917-681b-4480-a866-4366a608de3e" Alias="Star Ratings" Level="1">
  <Info>
    <Name>Star Ratings</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1 Star",
    "2 Stars",
    "3 Stars",
    "4 Stars",
    "5 Stars"
  ],
  "multiple": false
}]]></Config>
</DataType>