<?xml version="1.0" encoding="utf-8"?>
<Content Key="72811bbf-697c-4ef3-8c11-2261e3c60f19" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-11-10T11:39:36</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="348e879d-9297-469b-a56a-999aa3ca853b">aboutPage</Template>
  </Info>
  <Properties>
    <ceoImage>
      <Value><![CDATA[[
  {
    "key": "3f94e8ad-a552-435c-b1c1-d481b74f29c7",
    "mediaKey": "3a54e3f3-3f37-4bf8-87f4-e3bceb34af26",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ceoImage>
    <ceoImageText>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </ceoImageText>
    <ceoParagraph1>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </ceoParagraph1>
    <ceoParagraph2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </ceoParagraph2>
    <ceoParagraph3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoParagraph3>
    <ceoParagraph4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </ceoParagraph4>
    <ceoParagraph5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </ceoParagraph5>
    <ceoParagraph6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoParagraph6>
    <ceoParagraph7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </ceoParagraph7>
    <ceoTextHeadLine>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </ceoTextHeadLine>
    <greatReviewsHeadLine1>
      <Value><![CDATA[Trusted by some]]></Value>
    </greatReviewsHeadLine1>
    <greatReviewsHeadLine2>
      <Value><![CDATA[Biggest Names]]></Value>
    </greatReviewsHeadLine2>
    <greatReviewsImage>
      <Value><![CDATA[[
  {
    "key": "fb776ff6-0af2-49e9-a7c4-2eb8fe60f995",
    "mediaKey": "ca329c89-f061-403d-8cc7-7e50612ef96d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </greatReviewsImage>
    <greatReviewsImageAltText>
      <Value><![CDATA[Picture of Kevin Gardner]]></Value>
    </greatReviewsImageAltText>
    <greatReviewsQuote>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </greatReviewsQuote>
    <greatReviewsRating>
      <Value><![CDATA[[
  "5 Stars"
]]]></Value>
    </greatReviewsRating>
    <greatReviewsReviewCompany>
      <Value><![CDATA[Swebank]]></Value>
    </greatReviewsReviewCompany>
    <greatReviewsReviewName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </greatReviewsReviewName>
    <greatReviewsTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </greatReviewsTitle>
    <largeCardImage1>
      <Value><![CDATA[[
  {
    "key": "dbd0685a-6cdf-4fee-9f1f-b483a9d4d6e4",
    "mediaKey": "a370e41a-e990-4bd7-9c68-d7c40d64eb2d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </largeCardImage1>
    <largeCardImage2>
      <Value><![CDATA[[
  {
    "key": "2d3ffbcb-58fd-42be-a06c-6aa9dd32f52f",
    "mediaKey": "a9a4329a-286b-4e63-95aa-8f6a1c9fa86a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </largeCardImage2>
    <largeCardImage3>
      <Value><![CDATA[[
  {
    "key": "3fc7327f-b6ab-4f00-bcd5-ddfabde0daeb",
    "mediaKey": "8868017c-72fa-48fb-b45f-e5895cc3366c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </largeCardImage3>
    <largeCardImageAltText1>
      <Value><![CDATA[Picture of Brandon Newton]]></Value>
    </largeCardImageAltText1>
    <largeCardImageAltText2>
      <Value><![CDATA[Picture of AJ Carter]]></Value>
    </largeCardImageAltText2>
    <largeCardImageAltText3>
      <Value><![CDATA[Picture of Aaron Lambert]]></Value>
    </largeCardImageAltText3>
    <largeCardJobTitle1>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </largeCardJobTitle1>
    <largeCardJobTitle2>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </largeCardJobTitle2>
    <largeCardJobTitle3>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </largeCardJobTitle3>
    <largeCardName1>
      <Value><![CDATA[Brandon Newton]]></Value>
    </largeCardName1>
    <largeCardName2>
      <Value><![CDATA[AJ Carter]]></Value>
    </largeCardName2>
    <largeCardName3>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </largeCardName3>
    <ourExpertHeadLine1>
      <Value><![CDATA[A team of professionals]]></Value>
    </ourExpertHeadLine1>
    <ourExpertHeadLine2>
      <Value><![CDATA[with years of experience]]></Value>
    </ourExpertHeadLine2>
    <ourExpertTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </ourExpertTitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <showPartialView>
      <Value><![CDATA[[
  "Bottom"
]]]></Value>
    </showPartialView>
    <smallCardImage1>
      <Value><![CDATA[[
  {
    "key": "7059fcaa-1dd6-4d28-9ed9-e3c217d5287a",
    "mediaKey": "722559ee-7c85-4756-85cb-92f0c94c3da5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </smallCardImage1>
    <smallCardImage2>
      <Value><![CDATA[[
  {
    "key": "823b25ae-1b3b-4c95-95cf-0c5765e9f809",
    "mediaKey": "be1a788b-e042-441c-9973-1208dded9e23",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </smallCardImage2>
    <smallCardImage3>
      <Value><![CDATA[[
  {
    "key": "26ea487a-9b4f-4b00-bf5f-7e22fb5c6707",
    "mediaKey": "de9afea6-731e-40a6-b96a-615e062c0abb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </smallCardImage3>
    <smallCardImage4>
      <Value><![CDATA[[
  {
    "key": "a103f78d-23b9-4cc9-b880-3b2ca804a8c8",
    "mediaKey": "b0228901-20a4-4539-b1c4-6f305dca6dd3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </smallCardImage4>
    <smallCardImageAltText1>
      <Value><![CDATA[Picture of Tina Fox]]></Value>
    </smallCardImageAltText1>
    <smallCardImageAltText2>
      <Value><![CDATA[Picture of Brandon Kerr]]></Value>
    </smallCardImageAltText2>
    <smallCardImageAltText3>
      <Value><![CDATA[Picture of Miranda Dayton]]></Value>
    </smallCardImageAltText3>
    <smallCardImageAltText4>
      <Value><![CDATA[Picture of Kevin Gardner]]></Value>
    </smallCardImageAltText4>
    <smallCardJobTitle1>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </smallCardJobTitle1>
    <smallCardJobTitle2>
      <Value><![CDATA[CFO & Co-Founderat Onatrix]]></Value>
    </smallCardJobTitle2>
    <smallCardJobTitle3>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </smallCardJobTitle3>
    <smallCardJobTitle4>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </smallCardJobTitle4>
    <smallCardName1>
      <Value><![CDATA[Tina Fox]]></Value>
    </smallCardName1>
    <smallCardName2>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </smallCardName2>
    <smallCardName3>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </smallCardName3>
    <smallCardName4>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </smallCardName4>
  </Properties>
</Content>