<?xml version="1.0" encoding="utf-8"?>
<Content Key="325a66b1-b437-4a77-b77d-17c29bdd74a2" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-11-10T18:38:38</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eadda5d7-bc56-4407-a96e-802dea2c5196">contactPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "074c9b7a-a5ce-4ee3-869f-593fadf357eb",
    "mediaKey": "af524431-6ed9-45b2-a046-da1d2d2712b6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <contactFormDropDownValuess>
      <Value><![CDATA[[
  "Financial consulting"
]]]></Value>
    </contactFormDropDownValuess>
    <contactFormIdEmail>
      <Value><![CDATA[email]]></Value>
    </contactFormIdEmail>
    <contactFormIdName>
      <Value><![CDATA[name]]></Value>
    </contactFormIdName>
    <contactFormIdPhone>
      <Value><![CDATA[phone]]></Value>
    </contactFormIdPhone>
    <contactHeadline1>
      <Value><![CDATA[Let us know about your]]></Value>
    </contactHeadline1>
    <contactHeadline2>
      <Value><![CDATA[next project]]></Value>
    </contactHeadline2>
    <contactPlaceholderEmail>
      <Value><![CDATA[Email address]]></Value>
    </contactPlaceholderEmail>
    <contactPlaceholderName>
      <Value><![CDATA[Name]]></Value>
    </contactPlaceholderName>
    <contactPlaceholderPhone>
      <Value><![CDATA[Phone]]></Value>
    </contactPlaceholderPhone>
    <contactTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </contactTitle>
    <logo1AltText>
      <Value><![CDATA[freedombird logotype]]></Value>
    </logo1AltText>
    <logo1Image>
      <Value><![CDATA[[
  {
    "key": "119827fe-1b43-40c7-8ac4-44972e6e6381",
    "mediaKey": "297539af-aada-428d-8cda-c4e5212fa57f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo1Image>
    <logo2AltText>
      <Value><![CDATA[identity logotype]]></Value>
    </logo2AltText>
    <logo2Image>
      <Value><![CDATA[[
  {
    "key": "f24f37a4-6f57-4902-acb9-ffb147116ed4",
    "mediaKey": "de40bae9-fccf-457f-a5f0-9ae1442d858e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo2Image>
    <logo3AltText>
      <Value><![CDATA[natural logotype]]></Value>
    </logo3AltText>
    <logo3Image>
      <Value><![CDATA[[
  {
    "key": "8f69b976-2af0-4f1f-a2a8-a4d0a5dc1091",
    "mediaKey": "57dc78f0-6710-455d-8529-2b143e7f5d36",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo3Image>
    <logo4AltText>
      <Value><![CDATA[simpleaf logotype]]></Value>
    </logo4AltText>
    <logo4Image>
      <Value><![CDATA[[
  {
    "key": "e6821124-5135-4b06-a4c8-924ad4acd8f4",
    "mediaKey": "e275e99f-e127-48c8-8b60-badc82fdffb7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo4Image>
    <logo5AltText>
      <Value><![CDATA[globe logotype]]></Value>
    </logo5AltText>
    <logo5Image>
      <Value><![CDATA[[
  {
    "key": "0349f113-7d71-402f-8ea5-1ddd89bcb231",
    "mediaKey": "2572bc04-a058-4571-9d09-da39f5d6a1e7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo5Image>
    <logo6AltText>
      <Value><![CDATA[fossilgroup logotype]]></Value>
    </logo6AltText>
    <logo6Image>
      <Value><![CDATA[[
  {
    "key": "4a82181d-a88c-4c95-afdd-838e6f4e03d8",
    "mediaKey": "0bad4727-2f82-4785-b8e0-313dca9f9fc3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo6Image>
    <pageTitle>
      <Value><![CDATA[Contact us]]></Value>
    </pageTitle>
    <showPartialView>
      <Value><![CDATA[[
  "Top"
]]]></Value>
    </showPartialView>
  </Properties>
</Content>