<?xml version="1.0" encoding="utf-8"?>
<Content Key="f549716a-c01f-4f8a-9950-115f837b444e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-09T01:16:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="943522f0-648f-4be6-b651-0b39a5e27d48">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "4ea61e02-543b-4348-a2db-13e3f7f013fa",
    "mediaKey": "50f4fe51-df2f-4b32-b4ef-9b40d352b2ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutSignatureImageAltText>
      <Value><![CDATA[Tina Fox's signature]]></Value>
    </aboutSignatureImageAltText>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <assuranceCardImage>
      <Value><![CDATA[[
  {
    "key": "3d13254e-10fd-42c3-b509-529369012dd3",
    "mediaKey": "737fdb43-c3fe-4f9a-91bf-1d8eb4ebfcc0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </assuranceCardImage>
    <assuranceCardImageAltText>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </assuranceCardImageAltText>
    <assuranceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </assuranceCardText>
    <assuranceCardTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </assuranceCardTitle>
    <assuranceCardUrl>
      <Value><![CDATA[/assuranceandaudits]]></Value>
    </assuranceCardUrl>
    <bondsCardImage>
      <Value><![CDATA[[
  {
    "key": "e9137fd5-3c96-4a21-8e6b-88f63267a4c3",
    "mediaKey": "72efbbcf-8ec1-485c-9597-82bd07fe4ddf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bondsCardImage>
    <bondsCardImageAltText>
      <Value><![CDATA[bond and commodities image]]></Value>
    </bondsCardImageAltText>
    <bondsCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </bondsCardText>
    <bondsCardTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </bondsCardTitle>
    <bondsCardUrl>
      <Value><![CDATA[/bondsandcommodities]]></Value>
    </bondsCardUrl>
    <financialCardImage>
      <Value><![CDATA[[
  {
    "key": "5565139e-8db1-4d00-8d0e-87f191c78969",
    "mediaKey": "38a9ef8e-b2f3-495c-afed-6c469a838c2f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </financialCardImage>
    <financialCardImageAltText>
      <Value><![CDATA[financial advisor image]]></Value>
    </financialCardImageAltText>
    <financialCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </financialCardText>
    <financialCardTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </financialCardTitle>
    <financialCardUrl>
      <Value><![CDATA[/financialadvisor]]></Value>
    </financialCardUrl>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "43b9395d-9c97-447d-841a-69bbf4147863",
    "mediaKey": "2376bbb0-9604-4c7b-8267-2f7c0665beae",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <logo1AltText>
      <Value><![CDATA[freedombird logotype]]></Value>
    </logo1AltText>
    <logo1Image>
      <Value><![CDATA[[
  {
    "key": "9cc2050d-022b-4043-aa2f-5b1b8750a80e",
    "mediaKey": "297539af-aada-428d-8cda-c4e5212fa57f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo1Image>
    <logo2AltText>
      <Value><![CDATA[identity logotype]]></Value>
    </logo2AltText>
    <logo2Image>
      <Value><![CDATA[[
  {
    "key": "d10ae0af-c93d-445f-9b1d-0028daac8fe0",
    "mediaKey": "de40bae9-fccf-457f-a5f0-9ae1442d858e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo2Image>
    <logo3AltText>
      <Value><![CDATA[natural logotype]]></Value>
    </logo3AltText>
    <logo3Image>
      <Value><![CDATA[[
  {
    "key": "5e69cf97-38fe-4a1f-b69d-354b37decdda",
    "mediaKey": "57dc78f0-6710-455d-8529-2b143e7f5d36",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo3Image>
    <logo4AltText>
      <Value><![CDATA[simpleaf logotype]]></Value>
    </logo4AltText>
    <logo4Image>
      <Value><![CDATA[[
  {
    "key": "e44a36b2-ccc7-4e01-ae1b-27a83cdf5070",
    "mediaKey": "e275e99f-e127-48c8-8b60-badc82fdffb7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo4Image>
    <logo5AltText>
      <Value><![CDATA[globe logotype]]></Value>
    </logo5AltText>
    <logo5Image>
      <Value><![CDATA[[
  {
    "key": "ef49a293-443e-4e25-b809-8695e069d1f5",
    "mediaKey": "2572bc04-a058-4571-9d09-da39f5d6a1e7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo5Image>
    <logo6AltText>
      <Value><![CDATA[fossilgroup logotype]]></Value>
    </logo6AltText>
    <logo6Image>
      <Value><![CDATA[[
  {
    "key": "08c57ffc-ac27-43c9-98b3-36747053086e",
    "mediaKey": "0bad4727-2f82-4785-b8e0-313dca9f9fc3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo6Image>
    <numberCard1Number>
      <Value><![CDATA[689]]></Value>
    </numberCard1Number>
    <numberCard1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </numberCard1Text>
    <numberCard2Number>
      <Value><![CDATA[370]]></Value>
    </numberCard2Number>
    <numberCard2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </numberCard2Text>
    <numberCard3Number>
      <Value><![CDATA[125]]></Value>
    </numberCard3Number>
    <numberCard3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </numberCard3Text>
    <ourProjectsCard1Image>
      <Value><![CDATA[[
  {
    "key": "b4d87bfa-cf9f-4f62-adf9-12b9cf083dea",
    "mediaKey": "57e12de4-7202-4274-9eb2-90955be46e9e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCard1Image>
    <ourProjectsCard1ImageAltText>
      <Value><![CDATA[Image for Project 1]]></Value>
    </ourProjectsCard1ImageAltText>
    <ourProjectsCard1LinkUrl>
      <Value><![CDATA[project1]]></Value>
    </ourProjectsCard1LinkUrl>
    <ourProjectsCard1Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCard1Text>
    <ourProjectsCard1Title>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourProjectsCard1Title>
    <ourProjectsCard2Image>
      <Value><![CDATA[[
  {
    "key": "b8f2e0c6-2496-4d52-a213-bf03732b8204",
    "mediaKey": "75874c41-885a-4998-acc7-a7e821cbcf3a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCard2Image>
    <ourProjectsCard2ImageAltText>
      <Value><![CDATA[Image for Project 2]]></Value>
    </ourProjectsCard2ImageAltText>
    <ourProjectsCard2LinkUrl>
      <Value><![CDATA[project2]]></Value>
    </ourProjectsCard2LinkUrl>
    <ourProjectsCard2Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCard2Text>
    <ourProjectsCard2Title>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </ourProjectsCard2Title>
    <ourProjectsCard3Image>
      <Value><![CDATA[[
  {
    "key": "32881ef7-8aec-42d6-b600-c9d9fd6e7e98",
    "mediaKey": "c41f0d84-b9bd-46c6-829d-c75795e12b47",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCard3Image>
    <ourProjectsCard3ImageAltText>
      <Value><![CDATA[Image for Project 3]]></Value>
    </ourProjectsCard3ImageAltText>
    <ourProjectsCard3LinkUrl>
      <Value><![CDATA[project3]]></Value>
    </ourProjectsCard3LinkUrl>
    <ourProjectsCard3Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCard3Text>
    <ourProjectsCard3Title>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </ourProjectsCard3Title>
    <ourProjectsCard4Image>
      <Value><![CDATA[[
  {
    "key": "9fa0bed6-5546-492d-b1bd-ad649f330d09",
    "mediaKey": "6c7ca8e6-b098-4944-8352-ee92c98b7fa6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCard4Image>
    <ourProjectsCard4ImageAltText>
      <Value><![CDATA[Image for Project 4]]></Value>
    </ourProjectsCard4ImageAltText>
    <ourProjectsCard4LinkUrl>
      <Value><![CDATA[project4]]></Value>
    </ourProjectsCard4LinkUrl>
    <ourProjectsCard4Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCard4Text>
    <ourProjectsCard4Title>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </ourProjectsCard4Title>
    <ourProjectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsHeadline>
    <ourProjectsTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsTitle>
    <ourServicesHeadline1>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </ourServicesHeadline1>
    <ourServicesHeadline2>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </ourServicesHeadline2>
    <ourServicesTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServicesTitle>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <readOurStoryBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "1ad062b3-eb90-43fb-a264-1485d93150bd",
    "mediaKey": "710c38ec-2a95-46dd-8bfd-fbdfbe7a3396",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </readOurStoryBackgroundImage>
    <readOurStoryHeadline1>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </readOurStoryHeadline1>
    <readOurStoryHeadline2>
      <Value><![CDATA[4.000+ clients]]></Value>
    </readOurStoryHeadline2>
    <readOurStoryImage>
      <Value><![CDATA[[
  {
    "key": "11a8a324-35c6-4ce1-a794-96bcee517b40",
    "mediaKey": "fb4f40fe-5eab-44fe-9566-5540ebf759e5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </readOurStoryImage>
    <readOurStoryImageAltText>
      <Value><![CDATA[Image of some office workers standing together posing for a photograph]]></Value>
    </readOurStoryImageAltText>
    <readOurStoryLinkText>
      <Value><![CDATA[Read our story]]></Value>
    </readOurStoryLinkText>
    <readOurStoryLinkUrl>
      <Value><![CDATA[/our-story]]></Value>
    </readOurStoryLinkUrl>
    <readOurStoryText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </readOurStoryText>
    <riskCardImage>
      <Value><![CDATA[[
  {
    "key": "8a241a3f-2ae6-4ed1-8da4-a5f1aaa3f04f",
    "mediaKey": "e31b1351-ddf7-430e-9889-b8262d53f290",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskCardImage>
    <riskCardImageAltText>
      <Value><![CDATA[risk management image]]></Value>
    </riskCardImageAltText>
    <riskCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </riskCardText>
    <riskCardTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </riskCardTitle>
    <riskCardUrl>
      <Value><![CDATA[/riskmanagement]]></Value>
    </riskCardUrl>
    <showPartialView>
      <Value><![CDATA[[
  "None"
]]]></Value>
    </showPartialView>
    <statisticCardImage>
      <Value><![CDATA[[
  {
    "key": "195927e0-9f8a-46e3-828a-db3bd1f9f044",
    "mediaKey": "75b55c2a-c688-4fe8-b0b1-aff152cb282b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </statisticCardImage>
    <statisticCardImageAltText>
      <Value><![CDATA[statistic advisors image]]></Value>
    </statisticCardImageAltText>
    <statisticCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </statisticCardText>
    <statisticCardTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </statisticCardTitle>
    <statisticCardUrl>
      <Value><![CDATA[/statisticadvisors]]></Value>
    </statisticCardUrl>
    <successStoriesBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "25dd42b7-8c78-4a66-82f1-f4c74d0fa4fc",
    "mediaKey": "73375f94-bb27-441d-971d-b4d2f7e47596",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoriesBackgroundImage>
    <successStoriesHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successStoriesHeadline>
    <successStoriesImage>
      <Value><![CDATA[[
  {
    "key": "9afa9973-654f-454c-82d6-34f1f8ed2d9e",
    "mediaKey": "c2a0190a-2576-4c6e-a2e3-61e674fce470",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoriesImage>
    <successStoriesImageAltText>
      <Value><![CDATA[A group of people happily chatting around a table]]></Value>
    </successStoriesImageAltText>
    <successStoriesTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStoriesTitle>
    <taxCardImage>
      <Value><![CDATA[[
  {
    "key": "e39e89ea-3456-4766-85e5-3ec95a9ba313",
    "mediaKey": "9d999921-4afe-48b2-80c9-46894f339205",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </taxCardImage>
    <taxCardImageAltText>
      <Value><![CDATA[tax and trusts image]]></Value>
    </taxCardImageAltText>
    <taxCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </taxCardText>
    <taxCardTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </taxCardTitle>
    <taxCardUrl>
      <Value><![CDATA[/taxandtrusts]]></Value>
    </taxCardUrl>
  </Properties>
</Content>