<?xml version="1.0" encoding="utf-8"?>
<Content Key="d722f6ae-f7bc-43d5-82c1-69bd8b265fd8" Alias="Let Us Know Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetUsKnowSection</Path>
    <Trashed>false</Trashed>
    <ContentType>letUsKnowSection</ContentType>
    <CreateDate>2024-11-10T21:40:02</CreateDate>
    <NodeName Default="Let Us Know Section" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <letUsKnowAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </letUsKnowAddress>
    <letUsKnowBgImage1>
      <Value><![CDATA[[
  {
    "key": "33547008-801b-46c8-a67b-fc4fe24106d7",
    "mediaKey": "94e19007-9731-43b9-bda2-daaa659be2b3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </letUsKnowBgImage1>
    <letUsKnowBgImage2>
      <Value><![CDATA[[
  {
    "key": "b91bf0e9-d6be-40d0-9138-105c8eb22ee9",
    "mediaKey": "d2ffc879-4373-4a59-af8f-927be8a0cdbe",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </letUsKnowBgImage2>
    <letUsKnowEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </letUsKnowEmailAddress>
    <letUsKnowEmailText>
      <Value><![CDATA[E-mail address]]></Value>
    </letUsKnowEmailText>
    <letUsKnowImage>
      <Value><![CDATA[[
  {
    "key": "1d3e67aa-e6dc-4796-a1aa-bf70e48185db",
    "mediaKey": "e6f86e02-4504-4fee-a006-6700c65d198e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </letUsKnowImage>
    <letUsKnowImageAltText>
      <Value><![CDATA[Image of a man]]></Value>
    </letUsKnowImageAltText>
    <letUsKnowLocation>
      <Value><![CDATA[Office location]]></Value>
    </letUsKnowLocation>
    <letUsKnowPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </letUsKnowPhoneNumber>
    <letUsKnowPhoneText>
      <Value><![CDATA[Phone number]]></Value>
    </letUsKnowPhoneText>
    <letUsKnowTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </letUsKnowTitle>
  </Properties>
</Content>