<?xml version="1.0" encoding="utf-8"?>
<Content Key="afde900b-a84e-4667-b863-3430a3604d78" Alias="SiteSettings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-11-10T19:23:28</CreateDate>
    <NodeName Default="SiteSettings" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <breadcrumbBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "aa8103b0-0335-4b24-9792-7f2ea6e654bf",
    "mediaKey": "47e58449-b566-47a7-a783-0993a9078edf",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbBackgroundImage>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/onatrix]]></Value>
    </facebookUrl>
    <linkedinUrl>
      <Value><![CDATA[https://www.linkedin.com/onatrix]]></Value>
    </linkedinUrl>
    <logotypeImage>
      <Value><![CDATA[[
  {
    "key": "4ff58dd2-c899-4419-b4fc-a543dcf04f6c",
    "mediaKey": "570de6b6-fa3d-4079-a556-b073612d7e53",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotypeImage>
    <twitterUrl>
      <Value><![CDATA[https://www.x.com/onatrix]]></Value>
    </twitterUrl>
  </Properties>
</Content>